#분석 규칙 설정
Checks: >
  -*,
  bugprone-*,
  performance-*,
  modernize-*,
  portability-*,
  readability-identifier-naming,
  readability-make-member-function-const,
  readability-redundant-smartptr-get,
  readability-container-size-empty

#빌드 중단 설정
WarningsAsErrors: 'bugprone-*,performance-*'

#세부 규칙 옵션 설정
CheckOptions:
  - key:             readability-identifier-naming.VariableCase
    value:           camelCase
  - key:             readability-identifier-naming.FunctionCase
    value:           camelCase
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'